<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <title>Welcome To Food Mania</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1 class="display-4">Welcome To Food Mania</h1>
        <p class="lead">This is a simple project for online food order system.</p>
        <div class="btn-group">
          <a class="btn btn-primary btn-lg" href="/shop" role="button">User</a>
          <a class="btn btn-primary btn-lg" href="/admin" role="button">Admin</a>
          <a class="btn btn-primary btn-lg" href="/employee" role="button">Employee</a>
        </div>
        <hr class="my-4">
        <p>
          <b>Mai Tiến Đạt</b> &nbsp;&nbsp;&nbsp;<b>CE084</b> &emsp;
          <a href="https://github.com/darshankparmar">@maitiendat</a>
        </p>
        <p>
          <b>Quang Huy</b> &nbsp;&nbsp;&nbsp;<b>CE064</b> &emsp;
          <a href="https://github.com/darshankparmar">@quanghuy</a>
        </p>
        <p>
          <b>Lê Trần Anh Tú</b> &emsp;&nbsp;<b>CE098</b> &emsp;
          <a href="https://github.com/7Har">@letrananhtu</a>
        </p>
      </div>
      <footer>
        <p>&copy; Kiem Thu Phan Mem</p>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfZ2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
